<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="comment.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@300;700&display=swap"
          rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Inter&family=Poppins:wght@300;700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@600&family=Poppins:wght@300;700&display=swap"
          rel="stylesheet">
    <title>{% block title %}Blogs{% endblock %}</title>
</head>
<body>
.
<div class="comment-page">
    <div class="comment-cont">
        <h3 style="font-family: 'Inter';font-weight: 600;color: #011627;margin: 0;">Comments</h3>
        <div class="name-of-comments">
            <div class="all-comment">
                <div class="input-comment">
                    <img src="jessica.png">
                    <p style="font-family: 'Inter';font-style: normal;font-weight: 600;font-size: 16px;line-height: 20px;color: #011627;margin: 0">
                        John Doe</p>
                </div>
                <input type="text" id="name" name="firstname" placeholder="Your comment"
                       style="font-family: 'Inter';font-style: normal;font-weight: 400;font-size: 16px;line-height: 40px;color: #707991;  border: 1px solid #FFFFFF;">
                <div>
                    <hr style="margin: 0">
                </div>

                <div>
                    <input type="button" class="button" value="Comment"
                            style="font-family: 'Inter';font-style: normal;font-weight: 400;font-size: 16px;float: right; background-color: #00BFFF;border: none;color: white;padding: 7px 20px;border-radius: 12px;text-align: center;text-decoration: none;">
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>