<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="trending.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@300;700&display=swap"
          rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Inter&family=Poppins:wght@300;700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@600&family=Poppins:wght@300;700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@600&family=Poppins:wght@600;700&display=swap"
          rel="stylesheet">
    <title>{% block title %}Blogs{% endblock %}</title>
</head>
<body>
<div class="trending">
    <div class="trending-cont">
        <div class="top-header">
            <p style="font-family: 'Poppins';font-style: normal;font-weight: 700;font-size: 16px;line-height: 24px;color: #4FD8E0;margin: 0">
                Trending &nbsp;&nbsp;&nbsp;
                <svg width="20" height="12" viewBox="0 0 20 12" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 1L11 9L7 5L1 11M11 1H19H11ZM19 1V9V1Z" stroke="#4FD8E0" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </p>
            <p style="font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 15px;color: #4FD8E0;margin: 0">
                Today</p>
        </div>
        <div class="menu-trending">
            <div class="menu-tags">
                <p style="font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 18px;color: #436475;;margin: 0">
                    1. #TwetGram &nbsp;&nbsp;&nbsp;

                </p>
                <p style="font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 10px;line-height: 15px;color: #436475;margin: 0">
                    1000 tweet</p>
            </div>
            <div class="menu-tags">
                <p style="font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 18px;color: #436475;;margin: 0">
                    2. #TwetGram &nbsp;&nbsp;&nbsp;

                </p>
                <p style="font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 10px;line-height: 15px;color: #436475;margin: 0">
                    1000 tweet</p>
            </div>
            <div class="menu-tags">
                <p style="font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 18px;color: #436475;;margin: 0">
                    3. #TwetGram &nbsp;&nbsp;&nbsp;

                </p>
                <p style="font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 10px;line-height: 15px;color: #436475;margin: 0">
                    1000 tweet</p>
            </div>
            <div class="menu-tags">
                <p style="font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 18px;color: #436475;;margin: 0">
                    4. #TwetGram &nbsp;&nbsp;&nbsp;

                </p>
                <p style="font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 10px;line-height: 15px;color: #436475;margin: 0">
                    1000 tweet</p>
            </div>

        </div>
    </div>
</div>

</body>
</html>